iam:
  serviceId: "{{ service_id }}"
  servicePrivateKey: "{{ service_private_key }}"
  region: {{ region }}
  environment: {{ environment }}
  orgId: {{ iam_org_id }}

api:
  username: {{ api_username }}
  password: {{ api_password }}
